.dp {
  border-radius: 50% rgb(0, 0, 0);
   
  
}




.center {
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center h1{
  text-align: center;
  
}



.carousel-item {
 height: 500px;
    text-align: center;
    padding: 60px30px;
}





.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}



.jumbotron {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-shadow: 2px 2px #000;
}

.lead span {
  color: orange;
  font-weight: bold;
}

.bg-cover {
  background-image: url(assets/images/4.jpg);
  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;
  z-index: -2;
}

.overlay {
  
  background-image: url(assets/images/4.jpg);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
